body
{
    padding: 15px;
    text-align: center;
    font-family: Garamond;
    background-color: rgb(20, 23, 30);
    color: rgb(200, 230, 250);
}

#projects
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div > article
{
    margin: 10px;
    padding: 20px;
    background-color: rgb(10, 13, 20);
}